<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Подтверждение регистрации</title>
</head>
<body>
    <h2>Добро пожаловать, {{ user.first_name }}!</h2>
    <p>Благодарим вас за регистрацию в нашем интернет-магазине.</p>
    <p>Для завершения регистрации, пожалуйста, подтвердите ваш email, перейдя по ссылке:</p>
    <p><a href="{{ confirmation_link }}">Подтвердить регистрацию</a></p>
    <p>Если вы не регистрировались в нашем магазине, проигнорируйте это письмо.</p>
    <br>
    <p>С уважением,<br>Команда магазина</p>
</body>
</html>